<div class="container-fluid" id="app">
  <div class="row">
    <div class="col-md-9">
      <img #video style="-webkit-user-select: none;" src="{{url}}" width="640" height="480"
        crossorigin>
      <div><button class="btn btn-dark" id="snap" (click)="capture()">Snap Photo</button></div>
      <canvas #canvas id="canvas" width="640" height="480"></canvas>
    </div>
    <div class="col-md-3" *ngIf="captures.length>=1">
      <div class="card">
        <div class="card-body body-scrollable-full">
          <div class="card-block">
            <div class="row">
              <div class="element" *ngFor="let c of captures" style="margin:auto">
                <img src="{{ c }}" [style.max-height]="30 + 'vh'" style="padding:1%" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
